<p style="text-align:center">
  <b>GETWORD</b>
</p>

<hr>

<p-panel>
  <div style="text-align:center">

    <h3 class="first">Usuário</h3>
    <input id="input" type="text" size="30" pInputText [(ngModel)]="usuario">

    <br>
    <br>

    <h3 class="first">Senha</h3>
    <input id="input" type="password" size="30" pInputText [(ngModel)]="senha">

    <br>
    <br>

    <p-footer>
      <button type="button" (click)="logar()"> Logar </button>
      <button type="button"> Esqueci </button>
    </p-footer>
  </div>
</p-panel>